*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 180vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(images/home\ page\ background.png)
}
.header img{
    width: 200px;
}
nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 23px;
    background: white;
    position: relative;
    cursor: pointer;
}
.hero-btn a{
    color: black;
}
.hero-btn a:hover{
    color: #ffffff;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: transparent;
    transition: 1s;
    color: #1146a7;
}
.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.text-box h3{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
    
}
.text-box p{
    display: flex;
    width: 10%;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
    color: #fbfcfa;
}
.col-2 img{
        max-width: 100%;
        width: 500px;
        height: 500px;
        margin: 80px;
        margin-left: 60%;
        padding: 10px 0;
        bottom: 50%;
      
}
.wrapper{
    
    position: absolute;
    width: 60vw;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 30%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.container{
    width: 20vmin;
    height: 19vmin;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #fdfeff;
    border-bottom: #030303;
    
}
i{
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}
span.num{
    color: #030303;
    display: grid;
    place-items: center;
    font-size: 5em;
    font-weight: 600;
    bottom: 40%;
    
}
span.text{
    color: #030303;
    font-size: 3em;
    text-align: center;
    pad: 0.7em o;
    font-weight: 300;
    line-height: 0;
    
}
.bii{
color:#030303;

}
h5{
    white-space: nowrap;
    font-size: 0.7em;
    bottom: 50%;
    margin-top: -10px;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .wrapper{
        width: 85vw;
    }
}
.container{
    height: 20vmin;
}
@media screen and (max-width: 768px) {
    .wrapper{
        width: 90vw;
        flex-wrap: wrap;
        gap: 20px;
    }
}
.hero-btn-2{
    display: inline-block;
   
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    top: 55%;
    left: 20%;
    justify-items: center;

}
.hero-btn-2:hover{
    border: 1px solid burlywood;
    background: #3987fc;
    transition: 1s;
}
.content h2{
    display: flex;
    width: 10%;
    position: absolute;
    top: 17%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    color: #fbfcfa;
    left: 50%;
}

.content p{
    display: flex;
    width: 10%;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    color: #fbfcfa;
    left: 20%;
}

.container-3{
    display: flex;
    margin-top: 10%;
    justify-content: left;
    float: left;
    color: #fbfcfa;
}
.box{
    justify-content: flex;
    flex-direction: column;
    margin: 90px;
    left: 10%;
}
.bi{
    color: #fdfeff;
    left: 5%;
}
.text p{
    margin: 20px;
    left: 5%;
}
.contactForm{
    width: 400px;
    margin: 20px ;
    padding: 20px;
    background-color: #fff;
    height: 40%;
    border: 2px solid #3987fc;
    box-shadow: 10px black;
}
.contactForm .inputBox input,
.contactForm textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3987fc;
    color: #030303;
    margin: 20px;
    border-radius: 10px;
}
.contactForm h2{
    color: #3987fc;
    font-size: 36px;
    text-align: center;
}
.contactForm .input input{
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    
}
.contactForm span{
    color: #030303;
    margin-top: 10px;
}
.About-us h2{
    color: #b68e22;
    text-align: center;
    top: 40%;
    position: absolute;
    right: 40%;
    font-size: 50px;
    text-decoration: underline;
    
}
.About-us p{
    color: #fbfcfa;
    text-align: center;
    top: 65%;
    position: absolute;
    font-size: 20px;
}
.header-2{
    min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(images/home\ page\ background.png)
}
.Our-Service{
    background-color: #fffdfd;
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.Portfolio-1{
    background-color: #635d5d;
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.Our-Service h1{
    color: #b68e22;
    text-align: center;
    top: 15%;
    position: absolute;
    right: 40%;
    font-size: 30px;
    text-decoration: underline; 
}
/*--------Expertise Section start here------*/
.Our-Service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 20px;
}
.service-col{
    flex-basis: 31%;
    background: rgb(235, 232, 229);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 22px;
    box-sizing: border-box;
    transition: 1.5s;
    left: 1%;
    margin: 10px;
}

.service-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: underline;
    color: #b68e22;
    top: 5%;
}

.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.service-col h5{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
    text-decoration: underline;
    color: #b68e22;
}
.service-col ul li{
    color: #777;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 10px;
}

