*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(images/bgb.png)
}
.header img{
    width: 200px;
}
nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn a{
    color: #fff;
}
.hero-btn a:hover{
    color: #405d4c;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: #fff;
    transition: 1s;
    color: #1146a7;
}
.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.text-box h3{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
    
}
.text-box p{
    display: flex;
    width: 10%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
    color: #fbfcfa;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 400px;
    height: 400px;
    margin: 200px;
    margin-left: 60%;
    padding: 10px;
    
} 